*:not([class^="CodeMirror"]):not(button) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pull-right {
  float: right;
  text-align: right;
}

html, body {
  min-height: 600px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: #C2B8B2;
}

#game > h1 {
  margin-left: 20px;
  margin-bottom: 0px;
  font-weight: 900;
  color: #2d2006;
}
#game > h5 { 
  margin-left: 20px;
  margin-bottom: 4px;
  font-weight: 300;
  color: #2d2006;
}

#game {
  width: 1220px;
  margin: 20px auto;
}

#game #top-bar div {
  height: 100%;
  width: 100%;
  display: inline-block;
}

#game #top-bar {
  height: 120px;
}

#game #top-bar #description,
#game #left-block {
  width: 55%;
  float: left;
}

#game #top-bar #progress-buttons,
#game #right-block {
  width: 44.9%;
  float: left;
}

#game #top-bar #description {
  background: #faf8f5;
}

#game #top-bar #description h1 { 
  color: #2d2006;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  margin-top: 14px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8A716A;
  display: inline-block;
  padding-right: 30px;
}

#game #top-bar #description h3 { 
  margin: .8em;
  margin-left: 0;
  color: #2d2006;
  font-size: .8em;
  font-weight: 300;
  line-height: 1.4em;
}

#game #top-bar #progress-buttons {
  /*background: #8A716A;*/
  height: 100%;
  position: relative;
}

#game #top-bar #progress-buttons button {
  margin-left: 0;
}

#game #top-bar #progress-buttons .stats {
  font-size: 14px;
  display: block;
  text-align: right;
  padding-bottom: 8px;
  height: auto;
  font-weight: 300;
}

#game #top-bar #progress-buttons .stats strong {
  font-weight: 500;
}

#game #top-bar #progress-buttons .buttons .speed-buttons {
  margin-top: 8px;
}

#game #top-bar #progress-buttons .buttons .speed-buttons button {
  padding-left: 5px;
  padding-right: 5px;
}

#game #top-bar #progress-buttons .buttons {
  height: auto;
  text-align: right;
  margin: 0px;
  display: block;
  height: auto;
  position: absolute;
  bottom: -6px;
  margin-bottom: 0px;
}


#game #left-block,
#game #right-block {
  margin-top: 14px;
  height: 440px;
  display: inline-block;
}

#game #description,
#game #top-bar,
#game #progress-buttons,
#game #game-area,
#game #event-log,
#game #code-area,
#game #help {  
  border: 4px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

#game #left-block #game-area {
  height: 100%;
}

#game #right-block #code-area {
  height: 100%;
  margin-top: 8x;
  margin-bottom: 8x;
}

.CodeMirror-line {
  padding-left: 5px !important;
}
#game #right-block #help {
  height: 240px;
  padding: 8px;
  padding-top: 14px;
  padding-left: 2px;
}

#game #game-area canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  float: left;
}
#game #left-block #event-log {
  background: #231942;
  height: 240px;
  padding: 0px;
  margin-right: 4px;
  overflow: auto;
  font-family: "PT Mono", monospace;
  margin-left: 20px;
  margin-top: 20px;
}
#game #left-block #event-log .log {
  font-size: 9px;
  line-height: 12px;
  color: #999;
}

#game #left-block #event-log .log a {
  color: inherit;
}

#game #left-block #event-log .log-warning {
  color: #FF6;
}

#game #left-block #event-log .log-error,
.modal .modal-body .text-error {
  color: #F66;
}

#game #left-block #event-log .log-success {
  color: #6F6;
}

.modal {
  display: none;
  position: fixed;
  top: 100px;
  background: #FFF;
  width: 500px;
  z-index: 10;
  left: calc(55% - 500px);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  border-radius: 2px;
  font-size: 12px;
}

body.modal-on #modals::before {
  z-index: 9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px;
}

.modal .modal-header {
  text-align: center;
  font-weight: bold;
  background: #DDD;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 18px;
  color: black;
}

.modal .modal-body p {
  margin-bottom: 1em;
}

.modal .modal-body p:last-of-type {
  margin-bottom: 0;
}

.modal .modal-footer {
  text-align: center;
  font-weight: bold;
  background: #DDD;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 18px;
}


.modal.modal-error .text-error {
  font-size: 14px;
}

button {
  background: #FFF;
  border: #CCC;
  padding: 4px 17px;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 2px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2), 2px 3px 0px rgba(0,0,0,0.1);
}

strong {
  font-weight: 500;
}

button:not([disabled]):hover {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}
button:focus {
  border: 1px solid #6F6;
}
button:active {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
}

button.primary {
  background: #3D348B;
  color: white;
}
button.primary[disabled] {
  background: #6D64AB;
}
button.primary:not([disabled]):hover {
  background: #342D7A;
}

body.modal-on {
  overflow: hidden;
}

.CodeMirror-lint-tooltip img {
  display: none;
}
.CodeMirror {
  font-family: "Source Code Pro", "PT Mono", monospace;
  font-size: 12px;
}
#help p,
#help li {
  margin-bottom: 14px;
  font-size: 1em;
  line-height: 1.6em;
}

#help li {
  list-style: none;
}

#help li::before {
  content: "→ ";
  position: relative;
  top: -1px;
  color: #342D7A;
  font-size: 20px;
}
#help strong {
  font-weight: 700;
}

.doc-link {
  font-weight: 500;
}

.outside-link {
  color: inherit;
}

.doc-link.doc-class {
  font-weight: 700;
  color: #3D348B;
}

.doc-link.doc-method {
  color: #6D64AB;
}
.doc-link.doc-event {
  color: #8A716A;
}

.legend {
  border: 2px solid #8A716A;
  margin-left: 1px !important;
  margin-top: -4px !important;
  padding: 9px 3px !important;
}

.text-center {
  text-align: center;
}